<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Package details</h1>
      <p>Your parcel's weight is @Model.GetWeight()</p>
      <p>its dimensions are:</p>
      <ul>
        <li>Height: @Model.GetHeight() inches</li>
        <li>Width: @Model.GetWidth()</li>
        <li>Length: @Model.GetLength()</li>
      </ul>
  </body>
</html>
